body {
  background: #333;
  margin: 0;
}

h1 {
  font: 70px bold Tahoma, Helvetica, Arial, Sans-Serif;
  text-align: center;
  color: #adbdbd;
  text-shadow: 0px 2px 3px #efffff;
}

#month {
  border-radius: 75px;
  background: #dfefef;
  margin: 50px;
  padding: 30px 50px 50px;
  box-shadow: 10px 10px 10px 0px #000;
}

#month table {
  margin: 50px auto;
}

#month td {
}

.day {
  border-radius: 25px;
  height: 150px;
  width: 150px;
  padding: 10px;
  background: #0f0;
  border: solid 1px #dfefef;
}

.day:hover {
  border: solid 1px #000;
}

#today {
  background: #ff0;
}

.notmyday {
  background: rgba(0, 255, 0, 0.3);
}

.number {
  float: right;
  color: #000;
  font-family: arial;
  margin: 3px;
}

.events {
  margin: 10px auto;
}

.event {
  display: inline-block;
  border-radius: 20px;
  background: #00f;
  height: 20px;
  width: 20px;
  margin: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0px #000;
}

#previous {
  margin-bottom: 25px;
  display: inline;
  float: left;
  cursor: pointer;
}

#next {
  margin-bottom: 25px;
  display: inline;
  float: right;
  cursor: pointer;
}

.ui-dialog {
  position: fixed;
  top: 200px ! important;
  background: #ccc;
  border-radius: 10px;
  padding: 5px;
}

.ui-dialog-titlebar{
  background: #aaa;
  border-radius: 5px;
  padding: 7px;
}

.ui-dialog-titlebar-close {
  float: right;
  text-decoration: none;
  color: #777;
  font-family: helvetica;
}

.ui-widget-overlay {
  position: fixed;
  top: 0;
  background: rgba(50, 50, 50, 0.8);
}

#dialog-events {
  min-height: 100px;
}

#add-event {
  float: right;
}

#add-event-dialog span {
  margin: 10px;
}

#event-text {
  margin: 25px;
}

@media (max-width: 1400px) {
  .day {
    border-radius: 14px;
    height: 140px;
    width: 140px;
    padding: 10px;
  }
}

@media (max-width: 1300px) {
  .day {
    border-radius: 13px;
    height: 125px;
    width: 125px;
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .day {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    padding: 10px;
  }
}

@media (max-width: 1050px) {
  .day {
    border-radius: 7px;
    height: 75px;
    width: 75px;
    padding: 7px;
  }
}

@media (max-width: 845px) {
  .day {
    border-radius: 5px;
    height: 50px;
    width: 50px;
    padding: 5px;
  }
}

@media (max-width: 650px) {
  .day {
    border-radius: 5px;
    height: 40px;
    width: 40px;
    padding: 5px;
  }
}

@media (max-width: 600px) {
  .day {
    border-radius: 5px;
    height: 30px;
    width: 30px;
    padding: 5px;
  }
}

@media (max-width: 500px) {
  .day {
    border-radius: 5px;
    height: 25px;
    width: 25px;
    padding: 3px;
  }
}
